
footer{
    color: aliceblue;
    width: 100%;

}

header{
    color: aliceblue;
    width: 100%;
    padding-top: 10px;
}

body{
    color: aliceblue;
    margin-left: 50px;
    width: 100%;
    padding-top: 10px;
}

.div-text{
    color: aliceblue;
    width: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;


}
