
footer{
    color: aliceblue;
    width: 100%;

}

header{
    color: aliceblue;
    width: 100%;
    padding-top: 10px;
}

body{
    color: aliceblue;
    margin-left: 50px;
    width: 100%;
    padding-top: 10px;
}
